*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 150px;
    background-color: rgb(27, 84, 117);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.contenedor{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.logo img{  
    width: 33px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.subtitulo{
   font-weight: 800;
   padding-bottom: 40px;
}
nav{
    text-align: center;
    background-color: #112b3c;
    color: white;
}
nav li{
    display:inline-block;
    padding: 6px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 7px;
    font-size: 17px;
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li:hover{
    background-color: rgb(27, 84, 117);
}
main{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 50px;
}
article{
    margin-bottom: 30px;
    border-bottom: 1px dashed;
    padding-bottom: 40px;
}
article:last-child{
    border:none
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 30px;
}
.read-full{
    margin-top: 30px;
    margin-bottom: 30px;
}
.read-full a{
    color: rgb(27, 84, 117);
}
.read-full a:hover{
    color: white;
    background-color: rgb(27, 84, 117);
}
.pastilla{
    background-color: rgb(241, 238, 238);
    padding:5px 10px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 5px;
    margin-right: 5px;
}
.pastilla a{
    text-decoration: none;
    color: black;
}
.pastilla:hover{
    background-color: rgb(27, 84, 117);
}
.pastilla a:hover{
    color: white;
}
.parrafo-solo{
    padding-top: 40px;
}
footer{
    background-color: #112b3c;
    color: white;
    padding: 15px;
    font-size: large;
}
.pie-enlace{
    padding: 6px;
}
.pie-enlace a{
    color: tomato;
}
.pie-enlace a:hover{
    color:#112b3c;
    background-color: tomato;
    text-decoration: none;
}